*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {

    width: auto;
    height: 91.8vh;
    background-image: linear-gradient(to bottom, rgb(32, 11, 137), rgb(14, 94, 137));
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 30px;

}

@media screen and (max-width:300px){
    body {
        font-size: 8px;
    }
}

body img {
    border-radius: 15%;
    width: 10%;
}

body div {
    padding: 4px;
}

body div button {
    background-color: #ddd;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    border-radius: 10%;
}

body div button:hover {
    background-color: yellow;
    color: #000;
}

footer img {
    width: 2%;
    height: 3vh;
}
